<ion-content padding>
  <div padding>
    <ion-segment [(ngModel)]="files">
      <ion-segment-button value="downloads">
        Downloads
      </ion-segment-button>
      <ion-segment-button value="downloaded">
        Downloaded
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="files">
    <ion-list *ngSwitchCase="'downloaded'">
      <ion-item *ngFor="let downloaded of downloadeds" >
          {{downloaded}}
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'downloads'">
      <ion-item *ngFor="let download of downloads" (click)="readFile(download.name)">
          {{download.name}}
      </ion-item>
    </ion-list>
  </div>
</ion-content>
